/* USED IN App.js*/
.mainApp{
    background-image: linear-gradient(
        rgb(0,0,0,0.7),
        rgb(0,0,0,0.7)
    ),
    url('../public/triangle_back.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
}
/* USED IN BottomBar.js*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    background-color: black;
  }
  
/* USED IN LeftSideBar.js*/
.open {
    width: 400px; /* Adjust the width of the open sidebar */
    transition: width 0.3s ease-in-out;
  }
/* USED IN LeftSideBar.js*/
.closed {
width: 80px;
transition: width 0.3s ease-in-out;
}
  